@use '/app/styles/mixins' as *;
@use '/app/styles/variables' as *;


#Header {
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 100;
  mix-blend-mode: difference;
  text-orientation: mixed;
  backdrop-filter: blur(15px);
  will-change: auto;
  border-bottom: 1px solid $color;

  .header__body {
    @include adaptive-value('height', 60, 80, 0);
    color: $color2;
    max-width: 1400px;
    padding: 0 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span, a {
      color: #fff;
      filter: grayscale(80%);
    }
  }
}

.Navigation {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  right: 0;
  top: 10vh;
  bottom: 10vh;
  z-index: 100;
  mix-blend-mode: difference;
  text-orientation: mixed;


  a {
    writing-mode: vertical-rl;
    @include adaptive-value('margin-top', 40, 30, 0);
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
  }
}

#Footer {
  padding: 30px 0;
  background-color: $color2;
  font-family: sans-serif;
  font-weight: 400;
  @include adaptive-value('font-size', 14, 12, 0);
  text-align: right;

  p {
    line-height: 20px;
  }
}