@use '/app/styles/mixins' as *;
@use '/app/styles/variables' as *;


.Hero {
  height: 100%;
  width: 100%;
  background-color: $color2;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-orientation: mixed;

  a {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 5vh;
    width: 60px;
    height: 60px;
    transform: translate(-50%);
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transition: 2s ease;

    img {
      width: 25px;
      height: 25px;
      animation: arrowDown 2.5s ease infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      will-change: transform;
    }
  }

  &__body {
    height: 100vh;
    min-height: 600px;
    padding: 40px 0;
    @include adaptive-value('padding-top', 80, 50, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .body__hello {
      margin-top: -20vh;
      width: 100%;
      height: fit-content;
      overflow: hidden;

      h1 {
        padding: 0 2px;
        color: $color;
        transition: .3s ease-out;
        text-transform: uppercase;
        mix-blend-mode: difference;
        @include adaptive-value('font-size', 80, 50, 0);
      }
    }

  }
}

.Me {
  position: relative;
  height: 100vh;
  background-color: $color;

  &__body {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    color: $color;

    .Me__text {
      mix-blend-mode: difference;
      margin-top: -70px;

      h2 {
        color: $color;
      }

      span, p {
        width: 90%;
        margin-bottom: 10px;
        padding: 10px 0;
        border-bottom: 1px solid $color;
      }
    }
  }


  &__images {
    padding: 0 10px;
    border-radius: 12px;

    img {
      border-radius: 10px;
      object-fit: cover;
      @include adaptive-value('width', 600, 300, 0);
      @include adaptive-value('height', 700, 400, 0);
    }
  }
}

.Skills {
  background-color: $color;
  @include adaptive-value('padding-top', 40, 20, 0);
  @include adaptive-value('padding-bottom', 60, 20, 0);

  &__body {
    display: flex;
    flex-direction: column;
  }

  h2 {
    color: $color;
  }

  &__text {
    padding: 40px 0;
    text-transform: uppercase;
    mix-blend-mode: difference;
    @include adaptive-value('margin-bottom', 30, 10, 0);
  }

  &__charts {
    .chart {
      p {
        color: $color2;
        @include adaptive-value('margin-top', 30, 15, 0);

      }

      .line {
        height: 3px;
        width: 100%;
        background-color: rgba(110, 110, 110, 0.7);
        border-radius: 5px;

        .progress {
          border-radius: 5px;
          height: 3px;
        }
      }
    }
  }
}

.Projects {
  @include adaptive-value('padding-top', 60, 25, 0);
  @include adaptive-value('padding-bottom', 60, 25, 0);
  mix-blend-mode: difference;
  background-color: $color2;

  h2 {
    color: $color;
  }

  &__body {
    .projectRow {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .project {
        overflow: hidden;
        margin: 10px;

        a {
          img {
            overflow: hidden;
            transition: all .3s ease-in-out;
            object-fit: cover;
            background-position: center center;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes arrowDown {
  0% {
    top: 50%;
  }
  50% {
    top: 60%;
  }
}

@media (max-width: 1439px) {
  .Me {
    height: auto;
    padding: 60px 0;
  }
  .Me__body {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;

    .Me__text {
      margin-top: 20px;
    }

    span, p {
      width: 100%;
    }

    h2 {
      margin-top: 40px;
    }

    .Me__images {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .projectRow {
    flex-direction: column;

    .project {
      width: 100%;
    }
  }
}

